{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "alarm_blue_box.png": {
        "format": "L8_ARGB8888"
      },
      "alarm_confirm_btn.png": {
        "format": "L8_ARGB8888"
      },
      "alarm_orange_box.png": {
        "format": "L8_ARGB8888"
      },
      "alarm_red_box.png": {
        "format": "L8_ARGB8888"
      },
      "alarm_skyblue_box.png": {
        "format": "L8_ARGB8888"
      },
      "alarm_yellow_box.png": {
        "format": "L8_ARGB8888"
      },
      "background.png": {
        "format": "L8_ARGB8888"
      },
      "cal_permin_icon.png": {
        "format": "L8_ARGB8888"
      },
      "hr_permin_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_cal_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_feelslike_black_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_feelslike_red_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_grey_btn.png": {
        "format": "L8_ARGB8888"
      },
      "main_hr_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_hum_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_orange_btn.png": {
        "format": "L8_ARGB8888"
      },
      "main_red_btn.png": {
        "format": "L8_ARGB8888"
      },
      "main_temp_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_under_green_box.png": {
        "format": "L8_ARGB8888"
      },
      "main_under_heatwave_icon.png": {
        "format": "L8_ARGB8888"
      },
      "main_under_orange_box.png": {
        "format": "L8_ARGB8888"
      },
      "main_under_red_box.png": {
        "format": "L8_ARGB8888"
      },
      "main_yellow_btn.png": {
        "format": "L8_ARGB8888"
      },
      "measure_hr_btn.png": {
        "format": "L8_ARGB8888"
      },
      "measure_hr_check_icon.png": {
        "format": "L8_ARGB8888"
      },
      "permin_detail_box.png": {
        "format": "L8_ARGB8888"
      },
      "skintemp_permin_icon.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_age_box.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_gender_box.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_healthcondition_box.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_radiobtn_off.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_radiobtn_on.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_togglebtn_off.png": {
        "format": "L8_ARGB8888"
      },
      "userinfo_togglebtn_on.png": {
        "format": "L8_ARGB8888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}